.AutocompleteBlock {
  margin: 5px 0 0;
  position: absolute;
  left: 0;
  top: 30px;
  list-style: none;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding-inline-start: 0;
  padding: 10px;
  background-color: white;
}

.ShowLink {
  text-decoration: none;
  color: #555;
}

.ShowListItem {
  margin-bottom: 5px;
}