.SearchForm {
  margin: 20px 0;
  display: flex;
  align-items: center;
  column-gap: 20px;
  height: 30px;
}

.InputBlock {
  position: relative;
}

.InputBlock {
  flex-grow: 1;
  align-self: stretch;
}

#tvShowSearch {
  width: 100%;
  height: 100%;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 8px;
}

#tvShowSearch::placeholder {
  color: #aaa;
}