.TvShowCard {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  column-gap: 15px;
  margin-bottom: 50px;
}

.NoImagePlug {
  height: 295px;
  width: 210px;
  line-height: 295px;
  text-align: center;
  font-weight: bold;
}

.TvShowImage {
  border-radius: 4px;
}

.TvShowInfoBlock {
  padding-left: 15px;
  border-left: 2px solid #ddd;
}

.TvShowInfo {
  margin: 0 0 5px;
}

.TvShowTitle {
  margin-bottom: 10px;
  font-size: 26px;
}

.TvShowStatus {
  color: #fff;
  font-size: 12px;
  margin-left: 10px;
  padding: 1px 5px;
  border-radius: 3px;
}

.TvShowStatus_running {
  background-color: forestgreen;
}

.TvShowStatus_ended {
  background-color: dimgrey;
}

.TvShowSummary {
  margin-top: 15px;
}

.TvShowSummary p {
  display: inline;
}